@main("Add Person") {

<script src="@routes.Assets.at("javascripts/bb/PersonModel.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bb/EmploymentRecModel.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bb/App.js")" type="text/javascript"></script>


        <div id="displayPeople" data-bind="template:{name:'template-person',foreach:people}"></div>
<script type="text/template" id="template-person">
        <div class="person">
            < p><span data-bind="text:name"></span></p>
        </div>
</script>
}